<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
    <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
    <property name="hibernate.connection.url">jdbc:firebirdsql:localhost/3050:C:/DURALEX/DADOS/DURA2016_BARRA_PREFEITURA.GDB</property>
    <property name="hibernate.connection.username">CARACTERISTICAS</property>
    <property name="hibernate.connection.password">impermeavel</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="entidades/EsInventario.hbm.xml"/>
    <mapping resource="entidades/EsRecebimento.hbm.xml"/>
    <mapping resource="entidades/EsLinhasTransp.hbm.xml"/>
    <mapping resource="entidades/CpSecretaria.hbm.xml"/>
    <mapping resource="entidades/EsMovimentacaoContab.hbm.xml"/>
    <mapping resource="entidades/Gusuario.hbm.xml"/>
    <mapping resource="entidades/EsPlanilhaBordoItem.hbm.xml"/>
    <mapping resource="entidades/EsMotoristaVeic.hbm.xml"/>
    <mapping resource="entidades/OrNatDesp.hbm.xml"/>
    <mapping resource="entidades/EsRequisicaoDevolucao.hbm.xml"/>
    <mapping resource="entidades/FrMotorista.hbm.xml"/>
    <mapping resource="entidades/CpSolicitacao.hbm.xml"/>
    <mapping resource="entidades/CpTipoCompra.hbm.xml"/>
    <mapping resource="entidades/EsRetirada.hbm.xml"/>
    <mapping resource="entidades/OrCredor.hbm.xml"/>
    <mapping resource="entidades/EsLog.hbm.xml"/>
    <mapping resource="entidades/CpItem.hbm.xml"/>
    <mapping resource="entidades/CpRqItens.hbm.xml"/>
    <mapping resource="entidades/EsSolVei.hbm.xml"/>
    <mapping resource="entidades/CpMedida.hbm.xml"/>
    <mapping resource="entidades/CpGrupo.hbm.xml"/>
    <mapping resource="entidades/CpMaterial.hbm.xml"/>
    <mapping resource="entidades/CpPedido.hbm.xml"/>
    <mapping resource="entidades/CpRepresentante.hbm.xml"/>
    <mapping resource="entidades/EsMaterialEstocado.hbm.xml"/>
    <mapping resource="entidades/Gbairro.hbm.xml"/>
    <mapping resource="entidades/CpProtocolo.hbm.xml"/>
    <mapping resource="entidades/FrVeiculo.hbm.xml"/>
    <mapping resource="entidades/CpSolMat.hbm.xml"/>
    <mapping resource="entidades/CpCompra.hbm.xml"/>
    <mapping resource="entidades/EsLocalizacao.hbm.xml"/>
    <mapping resource="entidades/EsComissaoDeposito.hbm.xml"/>
    <mapping resource="entidades/Ggrupo.hbm.xml"/>
    <mapping resource="entidades/Gmunicipio.hbm.xml"/>
    <mapping resource="entidades/CpCcusto.hbm.xml"/>
    <mapping resource="entidades/EsRetiradaItemTmp.hbm.xml"/>
    <mapping resource="entidades/LcCombDisp.hbm.xml"/>
    <mapping resource="entidades/EsAcessoriosVeiculo.hbm.xml"/>
    <mapping resource="entidades/EsAplicacaoDiretaItem.hbm.xml"/>
    <mapping resource="entidades/Gempresa.hbm.xml"/>
    <mapping resource="entidades/EsLancto.hbm.xml"/>
    <mapping resource="entidades/CpSubgrupo.hbm.xml"/>
    <mapping resource="entidades/CpTipoProduto.hbm.xml"/>
    <mapping resource="entidades/EsInventarioItemLote.hbm.xml"/>
    <mapping resource="entidades/FrEspecie.hbm.xml"/>
    <mapping resource="entidades/CpConcorrencia.hbm.xml"/>
    <mapping resource="entidades/EsLoteRemedio.hbm.xml"/>
    <mapping resource="entidades/Guf.hbm.xml"/>
    <mapping resource="entidades/EsAvaliacaoItensVeiculo.hbm.xml"/>
    <mapping resource="entidades/CpModLicitacao.hbm.xml"/>
    <mapping resource="entidades/CpTipoCcusto.hbm.xml"/>
    <mapping resource="entidades/TceMtMedida.hbm.xml"/>
    <mapping resource="entidades/EsEstoqueMaterial.hbm.xml"/>
    <mapping resource="entidades/FrCarroceria.hbm.xml"/>
    <mapping resource="entidades/EsRecebimentoItem.hbm.xml"/>
    <mapping resource="entidades/EsComInventarioMembro.hbm.xml"/>
    <mapping resource="entidades/CpMedidaCidComp.hbm.xml"/>
    <mapping resource="entidades/CpCategoria.hbm.xml"/>
    <mapping resource="entidades/EsLogUnificaMaterial.hbm.xml"/>
    <mapping resource="entidades/FrVeiculoGrupo.hbm.xml"/>
    <mapping resource="entidades/EsInventarioTipo.hbm.xml"/>
    <mapping resource="entidades/EsItensVeiculo.hbm.xml"/>
    <mapping resource="entidades/CpPedidoItem.hbm.xml"/>
    <mapping resource="entidades/TceMtDesdobramento.hbm.xml"/>
    <mapping resource="entidades/EsAplicDiretaItemComb.hbm.xml"/>
    <mapping resource="entidades/EsTipoAplicacao.hbm.xml"/>
    <mapping resource="entidades/EsRequisicao.hbm.xml"/>
    <mapping resource="entidades/CpLocalEntrega.hbm.xml"/>
    <mapping resource="entidades/CpSolicitacaoItem.hbm.xml"/>
    <mapping resource="entidades/EsTipoRetirada.hbm.xml"/>
    <mapping resource="entidades/EsDeposito.hbm.xml"/>
    <mapping resource="entidades/Gano.hbm.xml"/>
    <mapping resource="entidades/TceMtElemento.hbm.xml"/>
    <mapping resource="entidades/FrCombustivel.hbm.xml"/>
    <mapping resource="entidades/FrCor.hbm.xml"/>
    <mapping resource="entidades/EsRotas.hbm.xml"/>
    <mapping resource="entidades/EsLoteRemedioBx.hbm.xml"/>
    <mapping resource="entidades/CpPrazoExecucao.hbm.xml"/>
    <mapping resource="entidades/CpDespesa.hbm.xml"/>
    <mapping resource="entidades/CpCconsumo.hbm.xml"/>
    <mapping resource="entidades/TceMtTipoMovimentoMaterial.hbm.xml"/>
    <mapping resource="entidades/EsInventarioItem.hbm.xml"/>
    <mapping resource="entidades/EsPlanilhaBordo.hbm.xml"/>
    <mapping resource="entidades/EsCustoReal.hbm.xml"/>
    <mapping resource="entidades/EsMulta.hbm.xml"/>
    <mapping resource="entidades/FrModelo.hbm.xml"/>
    <mapping resource="entidades/EsAplicacaoDireta.hbm.xml"/>
    <mapping resource="entidades/Glograd.hbm.xml"/>
    <mapping resource="entidades/EsRequisicaoItem.hbm.xml"/>
    <mapping resource="entidades/EsRetiradaItem.hbm.xml"/>
    <mapping resource="entidades/EsRetiradaItemComb.hbm.xml"/>
    <mapping resource="entidades/EsConsumoContab.hbm.xml"/>
    <mapping resource="entidades/EsDepositoUsuario.hbm.xml"/>
    <mapping resource="entidades/CpDepartamento.hbm.xml"/>
    <mapping resource="entidades/CpSelecao.hbm.xml"/>
    <mapping resource="entidades/EsPaciente.hbm.xml"/>
    <mapping resource="entidades/CpSubTipoCompra.hbm.xml"/>
    <mapping resource="entidades/CpCondicaoPagamento.hbm.xml"/>
    <mapping resource="entidades/EsSecretariaAnterior.hbm.xml"/>
    <mapping resource="entidades/EsComissaoInventario.hbm.xml"/>
    <mapping resource="entidades/TceMtSubelemento.hbm.xml"/>
    <mapping resource="entidades/LcCombDispBx.hbm.xml"/>
    <mapping resource="entidades/Gcbo.hbm.xml"/>
    <mapping resource="entidades/FrMarca.hbm.xml"/>
    <mapping resource="entidades/FrTipo.hbm.xml"/>
    <mapping resource="entidades/CpSoItens.hbm.xml"/>
    <mapping resource="entidades/CpMaterialNatDesp.hbm.xml"/>
    <mapping resource="entidades/Gparentesco.hbm.xml"/>
    <mapping resource="entidades/EsInventarioItemDet.hbm.xml"/>
    <mapping resource="entidades/EsProcessoInventarioItem.hbm.xml"/>
    <mapping resource="entidades/CpRequisi.hbm.xml"/>
    <mapping resource="entidades/EsDepositoSecretaria.hbm.xml"/>
    <mapping resource="entidades/EsProcessoInventario.hbm.xml"/>
    <mapping resource="entidades/Gsinpas.hbm.xml"/>
    <mapping resource="entidades/EsRetiradaItemCombTmp.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
